<!DOCTYPE html>
<html ng-app="drawinator">
<head>
  <title>Drawinator</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body style="margin: 30px; margin-top: 70px;">
  <form>
    <div style="position: fixed; top: 10px; left: 50px;">
      <div class="toolbar">
        <div ng-controller="ColorPicker">
          <span ng-repeat="color in colors"><input
              name="color"
              class="color"
              ng-model="selected.color"
              type="radio"
              id="c{{color.id}}"
              ng-value="color"
            /><label
              class="color"
              style="background-color: {{color.value}}"
              for="c{{color.id}}">
              color {{color.id}}
            </label></span>
          <input type="color" id="current" name="favcolor" ng-model="selected.color.value">
        </div>
      </div>
      <div class="toolbar">
        <button id="zoomin">zoom in</button>
        <button id="zoomout">zoom out</button>
      </div>
      <div class="toolbar">
        <button onclick="document.getElementById('shader').classList.add('open')">shader</button>
      </div>
    </div>
    <canvas width="1024" height="768" id="surface"></canvas>
    <div id="shader" class="panel">
      <button class="close" onclick="this.parentNode.classList.remove('open')">close</button>
      <div style="position: absolute; left: 1em; right: 1em; top: 2em; bottom: 1em;">
        <textarea style="width:100%; height: 100%;"></textarea>
      </div>
    </div>
  </form>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
  <script src="main.js"></script>
</body>
</html>
