<!DOCTYPE html>
<html ng-app="drawinator">
<head>
  <title>Drawinator</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body ng-controller="ColorPicker" style="margin: 30px; margin-top: 70px;">
  <form>
    <div style="position: fixed; top: 10px; left: 50px;">
      <div class="toolbar">
        <div>
          <span ng-repeat="color in colors"><input
              name="color"
              class="color"
              ng-model="selected.color"
              type="radio"
              id="{{color.id}}"
              ng-value="color"
            /><label
              class="color"
              style="background-color: {{color.value}}"
              for="{{color.id}}">
              {{color.label}}
            </label></span>
          <input type="color" id="current" name="favcolor" ng-model="selected.color.value">
        </div>
      </div>
      <div class="toolbar">
        <button id="zoomin">zoom in</button>
        <button id="zoomout">zoom out</button>
      </div>
    </div>
    <canvas width="1024" height="768" id="surface"></canvas>
  </form>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
  <script src="main.js"></script>
</body>
</html>
