div.toolbar {
  padding: 8px;
  border: 1px solid #999;
  border-radius: 3px;
  background-color: white;
  display: inline-block;
  box-shadow: 0 0 5px black;
}
input.color {
  display: none;
}
label.color {
  display: inline-block;
  text-indent: 100px;
  overflow: hidden;
  white-space: nowrap;
  width: 16px;
  height: 16px;
  margin: 1px;
  border: 1px solid #999;
  border-radius: 3px;
}
input.color:checked + label {
  box-shadow: 0px 0px 1px 1px black;
}
canvas {
  border: 1px solid black;
  box-shadow: 0 0 5px black;
  image-rendering: crisp-edges;
}

div.panel {
  display:none;
}
div.panel.open {
  display: block;
  position: fixed;
  top: 20px;
  left: 50%;
  right: 20px;
  bottom: 20px;
  border: 1px solid black;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0 5px black;
  padding: 2em;
}
div.panel button.close {
  position: absolute;
  top: 3px;
  right: 3px;
}
textarea.error {
  background-color: #FFAAAA;
}