div.toolbar {
  padding: 2px;
  border: 1px solid #999;
  border-radius: 3px;
  background-color: white;
  display: inline-block;
}
input.color {
  display: none;
}
label.color {
  box-sizing: border-box;
  display: inline-block;
  text-indent: 100px;
  overflow: hidden;
  white-space: nowrap;
  width: 20px;
  height: 20px;
  margin: 1px;
  border: 1px solid #999;
  border-radius: 3px;
}
input.color:checked + label {
  border: 3px dashed black;
}